AWS_REGION=aq-central-1
FIREHOSE_KEY=somesecr3t
FIREHOSE_COMMON_ATR={"commonAttributes":{}}
FIREHOSE_TARGET=https://example.com/api/v1/firehose
S3_BUCKET=some-bucket-name
S3_PREFIX=firehose/output/
S3_DELETE=
